body{
  background: #F0F1F5;
  padding-top: 50px;
}

#chatroom{
  padding: 30px;
  border: 1px solid lightgrey;
  background: white;
}

.date{
  color: #b3b3b3;
}

#messages{
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid lightgrey;
}