@import url("banner.css");
@import url("card.css");
@import url("avatar.css");

body {
  margin: 0;
  font-family: Open-sans, sans-serif;
}
h1, h2, h3 {
  font-family: Raleway, Helvetica, sans-serif;
}
.text-center {
  text-align: center;
}