.vtuber-show-container {
  display: flex;
  // justify-content: center;
  // align-items: center;
}

.vtuber-show-picture-card {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.vtuber-tall-picture {
  max-width: 100%;
  max-height: 500px;
}

.vtuber-show-body {
  width: 55%;
  padding-left: 5px;
}

.badge-group h3 {
  margin-bottom: 0;;
}

.show-card-name {

}

.show-card-body {


}

.vtuber-show-card-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 6px;
}

.vtuber-show-card-content p {
  margin-bottom: 0;
}

.vtuber-show-card-content pre {

}

.vtuber-show-card-info td {
  padding: 5px;
  vertical-align: bottom;
}

.vtuber-show-footer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.vtuber-show-tags {
  margin: 10px 0 10px 0;
}

@media (max-width: 576px) {
  .vtuber-show-picture-card {
    width: 60%;
  }
  .vtuber-tall-picture {
    max-width: 100%;
    max-height: 600px;
  }
  .vtuber-show-container {
    flex-direction: column;
    // justify-content: center;
    align-items: center;
  }
  .vtuber-show-picture-card {
    max-width: 100%;
  }
  .vtuber-show-body {
    width: 100%;
  }
}
