body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.clickable {
  padding: 40px;
  width: 220px;
  border: 1px solid #dedede;
  color: #a0a0a0;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.clickable i {
  font-size: 24px;
  margin-bottom: 10px;
}

.clickable:hover i {
  color: #52ACF4;
}

.clickable.active {
  color: inherit;
  border-color: inherit;
}

.clickable.active i {
  color: #52ACF4;
}
