@import url("components/avatar.css");
@import url("components/message.css");
@import url("components/tabs.css");

body {
  margin: 0;
  margin-bottom: 100px;
  font-family: 'Varela Round', sans-serif;
}
.text-center {
  text-align: center;
}
.container {
  max-width: 900px;
  margin: 50px auto;
}
