.panels {
  min-height: 100vh;
}

.panel {
  background: white;
  box-shadow: inset 0 0 0 5px rgba(0, 132, 255, 0.354);
  color: white;
  transition: 0.3s;
  font-size: 20px;
  background-size: cover;
  background-position: center;
}

.panel1 { background-image:url(https://images.unsplash.com/photo-1627453999411-dd9c2604c109?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2874&q=80); }
.panel2 { background-image:url(https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2938&q=80); }
.panel3 { background-image:url(./images/lw-students.jpg); }
.panel4 { background-image:url(./images/lw-process.jpg); }
.panel5 { background-image:url(https://images.unsplash.com/photo-1516349935484-52a0d805fdb1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80); }


.panel p {
  text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
  transition : 0.5s;
}
