<!DOCTYPE html>
<html>
  <head>
    <title>Jukebox</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Jukebox</h1>

    <%= yield %>
  </body>
</html>
