body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #F7F7F7;
}

.flex-wrap-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-container {
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  background-color: white;
  padding: 30px;
  width: 350px;
  margin: 0 auto;
}

.header {
  margin-bottom: 20px;
}

.header-row {
  display: flex;
  align-items: center;
}

.header-row i {
  font-size: 10px;
}

.big-bold {
  font-weight: bold;
  font-size: 24px;
  margin-right: 5px;
}

.small-light {
  font-size: 12px;
  color: #969696;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
}

#submit {
  width: 100%;
  margin-top: 10px;
}

#counter {
  margin: 0 15px;
}

.round-bordered {
  border: 1px solid #5a5a5a;
  border-radius: 50%;
  width: 35px;
  font-size: 18px;
  color: #848484;
  height: 35px;
  padding: 3px
}

.btn-primary {
  background-color: #FF5A5F;
  padding: 16px 24px;
  border: none;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #FF5A5F;
}
